
body{
	font-family: Open Sans;
	font-size: 13px;
}

h2{
	font-size: 180%;
}
h3{
	font-size: 20%;
}
#container{
	width: 1000px;
	height: auto;
	margin: auto;
}

#head{
	width: 100%;
	height: 140px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	text-align: right;
	font-size: 24px;
}

#ContainerMenu{
	width:100%;
	height: 42px;
	font-size: 125%;
	background-color: #333333;
}
#menu{
	list-style-type: none;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

li {
	float: left;
	width:auto;
	height: 100%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

li a:visited {
	background-color: #baad4a;
}


li a:hover {
	background-color: #397881;
}

li a:active{
	background-color: #828f80;
}

#container01{
	height: 400px;
	width: 100%;
	background-image: url("../img/banner.jpg");
	margin-top: 5px;
}

#ContenedorNoticias{
	margin-top: 0px;
}
#container02Left{
	width: 70%;
	height: auto;
	background-color: blue;
	position:absolute;
}

#container02Left > p {
	font-family: "Times New Roman";
	font-size: 120%;
	
}
#container02Left > h2{
	color: #828f80;
	font-weight: bold;
}
.noticias{
	width: 320px;
	height: auto;
	float: left;
	margin: 5px;
}

.imgNoticia{
	width: 100%;
	height: auto;
}

#container03Right{
	width: 30%;
	height: 1000px;
	background-color: red;
	float: left;
	position:absolute;
}