
body{
	font-family: Open Sans;
	font-size: 13px;
	width: 1000px;
	margin: auto;
}

h2{
	font-size: 180%;
}
h3{
	font-size: 20%;
}


#head{
	width: 100%;
	height: 140px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	text-align: right;
	font-size: 24px;
}

#ContainerMenu{
	width:100%;
	height: 42px;
	font-size: 125%;
	background-color: #333333;
}
#menu{
	list-style-type: none;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

#menu > li {
	float: left;
	width:auto;
	height: 100%;
}

#menu > li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

l#menu > i a:visited {
	background-color: #baad4a;
}

#menu > li a:hover {
	background-color: #397881;
}

#menu > li a:active{
	background-color: #828f80;
}

#container01{
	height: 400px;
	width: 100%;
	background-image: url("../img/banner.jpg");
	margin-top: 5px;
}

#ContenedorNoticias{
	width: 100%;
	max-width: 1000px;
	height: 1030px;
}
#container02Left{
	display: inline-block;
	max-width: 667px;
	width: 70%;
	height: auto;
}

#container02Left > p {
	font-family: "Times New Roman";
	font-size: 120%;
	
}
#container02Left > h2{
	color: #828f80;
	font-weight: bold;
}
.noticias{
	width: 100%;
	max-width: 320px;
	height: auto;
	float: left;
	margin: 5px;
}

.imgNoticia{
	width: 100%;
	height: auto;
}

#container03Right{
	max-width: 328px;
	width: 100%;
	display: block;
	float: right;
}

.noticiasColum{
	width: 320px;
	height: auto;
	float: left;
	margin: 5px;
}
#cFooter{
	background-color: #333333;
	width: 100%;
	height: 300px;
	border: dotted white; 
}
.logo{
	float: left;
	bottom: 0px;
	width: 32%;
	height: 100%;
	display: block;
}

#logoCentral{
	border-right: dotted white; 
	border-left: dotted white; 
}
#lista {
	list-style-image: url("../img/fletxaMenuBlanca.png")
}


.logo > img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}